* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --red: #E3646E;
  --purple: #BB72E9;
  --blue: #3996DB;
  --green: #82BC4F;
  --yellow: #EABD5F;
  --gray-100: #0D0E11;
  --gray-200: #16181D;
  --gray-300: #292C34;
  --gray-400: #878EA1;
  --gray-500: #C0C4CE;
  --gray-600:#E2E4E9;

  --asap: "Asap", sans-serif;
  --title-lg: 800 56px/120% var(--asap);
  --title-md: 800 24px/120% var(--asap);
  --title-sm: 700 16px/120% var(--asap);

  --inconsolata: "Inconsolata", monospace;
  --subtitle: 400 20px/120% var(--inconsolata);

  --maven-pro: "Maven Pro", sans-serif;
  --text-md: 400 16px/140% var(--maven-pro);
  --text-sm: 400 14px/140% var(--maven-pro);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
}

h3 {
  color: var(--gray-500);
  font: var(--inconsolata);
}

h3 span {
  color: var(--red);
}

h1 {
  color: var(--gray-600);
  font: var(--asap);
  margin-bottom: 20px;
}

h2 {
  color: var(--gray-400);
  font: var(--maven-pro);
}

#header-subtitle span, h2,
#header-services span, h2 {
  display: flex;
  justify-content: center;
}

#header-subtitle span,
#header-services span {
  font: var(--subtitle);
  color: var(--red);

  margin-top: 120px; 
}

#header-subtitle h2,
#header-services h2 {
  font: var(--title-md);
  color: var(--gray-600);

  margin-top: 8px;
  margin-bottom: 56px;

}


.container {
  max-width: 1280px;
  padding: 72px 120px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  gap: 16px;

}

.tags {
  margin-top: 80px;
  display: flex;
  align-items: center;
  gap: 16px;
}

.tag {
  display: flex;
  padding: 8px 16px;
  align-items: center;
  gap: 8px;

  border-radius: 999px;
  background-color: var(--gray-300);
}

.tag strong {
  color: var(--gray-500);
  font: var(--text-md);
}

#icone {
  margin-top: 94px;
}

.container-services {
  padding: 20px;
  gap: 24px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.service {
  padding: 20px;
  border-radius: 12px;
  border: 2px solid var(--gray-200);
}

#header-contact span {
  font: var(--subtitle);
  color: var(--purple);
  margin-top: 128px;
  margin-bottom: 8px;
}

#header-contact h2 {
  font: var(--title-md);
  color: var(--gray-600);
  margin-bottom: 8px;
}

#header-contact h3 {
  font: var(--text-md);
  color: var(--gray-500) ;
  margin-bottom: 48px;
}

#header-contact span,
#header-contact h2,
#header-contact h3 {
  display: flex;
  justify-content: center;
}

.container-contact {
  display: grid;
  justify-content: center;
}



